[submodule "Resectioning/CameraCalibration"]
	path = Resectioning/CameraCalibration
	url = https://github.com:daviddoria/CameraCalibration.git
[submodule "VTKHelpers"]
	path = VTKHelpers
	url = https://github.com:daviddoria/VTKHelpers.git
[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = https://github.com:daviddoria/ITKVTKHelpers.git
